* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playball", cursive;
    padding: 1.5rem;
}


h2, h3, h4, p, a, .button, label {
    font-family: "Shippori Mincho", "Garamond", serif;
}

i {
    color: white;
}

/* Navbar */

header {
    background-color: silver;
    color: white;
}

h1.navbar-item {
    font-size: 2em;
    color: white;
    padding-right: 2rem;
}

div.navbar-start a.navbar-item {
    font-size: 1.25em;
}

div.navbar-end a.navbar-item {
    font-size: 1.5em;
}

.navbar-start > a:hover {
    color: darkslategrey;
}

.navbar-menu a:hover > i {
    color: darkslategrey;
}

/* Footer */

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

footer {
    color: darkslategray;
}

/* Content */



/* header h1, h1#title {
    font-family: "Playball", cursive;
    padding: 1.5rem;
} */

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
} */

/* footer {
    margin: 0.5rem;
} */

/* div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategrey;
}

div.navbar li {
    float: left;
}

div.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.navbar li a:hover {
    background-color: darkslategray; 
}

#page-container {
    position: relative;
    min-height: 100vh;
    background-color: gainsboro;
    text-align: center;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#content-wrap a:hover {
    background-color: lightslategray;
    color: white;
    text-decoration: none;
}

#content-wrap a:visited {
    color: blue;
} */

/* Buttons */

.button {
    background-color: silver;
    color: white;
    margin: 1em;
    font-weight: bold;
}

/* .button:hover {
    background-color: silver;
    color: white;
} */

input[type="submit"] {
    background-color: lightslategrey;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: none;
}

input[type="submit"]:hover {
    background-color: darkslategrey;
}
/* 
.footer {
    color: black;
} */