* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playball", cursive;
    padding: 1.5rem;
}


body, h2, h3, h4, p, a, .button, label, input {
    font-family: "Shippori Mincho", "Garamond", serif;
}

p, li {
    line-height: 2.5rem;
}

i {
    color: white;
}

/* Navbar */

header {
    background-color: silver;
    color: white;
}

h1.navbar-item {
    font-size: 2em;
    color: white;
    padding-right: 2rem;
}

div.navbar-start a.navbar-item {
    font-size: 1.25em;
}

div.navbar-end a.navbar-item {
    font-size: 1.5em;
}

.navbar-item:hover {
    color: darkslategrey;
}

.navbar-start > a:hover {
    color: darkslategrey;
}

.navbar-menu a:hover > i {
    color: darkslategrey;
}

/* Footer */

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

footer {
    color: darkslategray;
}

/* Notification */

div.notification.is-primary {
    font-family: "Shippori Mincho", "Garamond", serif;
}

/* Buttons */

.button {
    background-color: silver;
    color: white;
    margin: 1em;
    font-weight: bold;
    min-width: 200px;
}

/* Content */

.card {
    padding: 5rem;
}

.hero.is-medium .hero-body {
    padding: 3rem 1.5rem;
}