* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playball", cursive;
    padding: 1.5rem;
}

h1.index {
    color: #22577a;
    font-size: 3rem;
}

body, h2, h3, h4, p, a, .button, label, input {
    font-family: "Shippori Mincho", "Garamond", serif;
}

h2.title {
    color: #22577a;
}

p, li {
    line-height: 2.5rem;
}

i {
    color: white;
}

/* Navbar */

header {
    background-color: #38a3a5;;
    color: white;
}

h1.navbar-item {
    font-size: 2em;
    color: white;
    padding-right: 2rem;
}

div.navbar-start a.navbar-item {
    font-size: 1.25em;
    color: #212f45;
}

div.navbar-end a.navbar-item {
    font-size: 1.5em;
}

.navbar-item:hover {
    color: #144552;
}

.navbar-start > a:hover {
    color: #144552;
}

.navbar-menu a:hover > i {
    color: #144552;
}

/* Footer */

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

footer {
    color: #144552;
}

/* Notification */

div.notification.is-primary {
    font-family: "Shippori Mincho", "Garamond", serif;
}

/* Buttons */

.button {
    background-color: #ef476f;
    color: white;
    margin: 1em;
    font-weight: bold;
    min-width: 200px;
}

.button:hover {
    background-color: #f08080;
}

.button.show-book {
    margin-top: 2em;
}

/* Content */

.card {
    padding: 5rem;
}

.hero.is-medium .hero-body {
    padding: 3rem 1.5rem;
}

.field {
    display: flex;
    justify-content: space-between;
}

.field input {
    width: 70%;
}