<h2>Authors</h2>
<ul>
    <% @authors.each do |author| %>
    <li><a href="/authors/<%= author.id %>"><%= author.name %></li>
    <% end %>
</ul>
<form action="/books/new" method="get">
    <input type="submit" id="new_book" value="Add a New Book">
</form>