<h2>Edit Your Book</h2>
<p>Author: <%= @author.name %></p>
<form action="/books" method="POST">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" value="<%= @book.name %>">
    <label for="year_published">Year published: </label>
    <input type="text" id="year_published" name="year_published" value="<%= @book.year_published %>">
    <label for="advance">Advance received: </label>
    <input type="text" id="advance" name="advance" value="$<%= @book.advance %>">
    <input type="submit" id="submit" value="Submit">
</form>