<h2>Books</h2>
<ul>
    <% @books.each do |book| %>
    <li><a href="/books/<%= book.slug %>"><%= book.name %></a> (<%= book.year_published %>) - $<%= book.advance %></li>
    <% end %>
</ul>
<form action="/books/new" method="get">
    <input type="submit" id="new_book" value="Add a New Book">
</form>