<h2 class="title">All Books</h2>
<hr class="login-hr">
<ul>
    <% @books.each do |book| %>
    <li><a href="/books/<%= book.slug %>"><%= book.title %></a> (<%= book.year_published %>) - $<%= book.format_advance %></li>
    <% end %>
</ul>
<hr class="login-hr">
<form action="/books/new" method="get">
    <button class="button">Add a New Book</button>
</form>