<h2 class="title">Add a New Book</h2>
<hr class="login-hr">
<p class="subtitle">Please enter all requested details for the book by the author, <%= @author.name %>.</p>
<div class="box">
    <form class="form" action="/books" method="POST">
        <div class="field">
            <div class="label">
                <label for="title">Title: </label>
            </div>
            <div class="control">
                <input class="input" type="text" id="title" name="title">
            </div>
        </div>
        <div class="field">
            <div class="label">
                <label for="year_published">Year published: </label>
            </div>
            <div class="control">
                <input class="input" type="text" id="year_published" name="year_published">
            </div>
        </div>
        <div class="field">
            <div class="label">
                <label for="advance">Advance received ($): </label>
            </div>
            <div class="control">
                <input class="input" type="number" id="advance" name="advance">
            </div>
        </div>
        <button class="button is-rounded">Submit</button>
    </form>
    <form action="/books" method="GET">
        <button class="button is-rounded">Cancel</button>
    </form>
</div>