<h2 class="title">About PubAdvance</h2>
<hr class="login-hr">
<p>PubAdvance is a Sinatra-based application for authors to track books and the publishing advances received.</p>
<p>Commonly in the publishing industry, advances are paid upfront to authors as an advance against royalties.</p>
<p>Inequities across advances paid to white and BIPOC authors is an issue that needs to be addressed. 
This app aims to provide a mechanism for increasing transparency about these inequities.</p>
<hr class="login-hr">
<p class="subtitle">Additional Resources</p>
<p><a href="https://www.publishersweekly.com/pw/by-topic/industry-news/publisher-news/article/83838-how-publishingpaidme-exposed-racial-inequities.html">Deahl, Rachel. (2020). How #PublishingPaidMe Exposed Racial Inequities. Publisher's Weekly.</a></p>
<p><a href="https://www.nytimes.com/2020/06/08/books/publishingpaidme-publishing-day-of-action.html">de Le&oacute;n, Concepci&oacute;n, and Elizabeth A. Harris. (2020). #PublishingPaidMe and a Day of Action Reveal an Industry Reckoning.</a></p>
