<p>Home</p>
<form action="/signup" method="get">
    <input type="submit" id="signup" value="Sign Up">
<form action="/login" method="get">
    <input type="submit" id="login" value="Log In">
</form>
<form action="/logout" method="get">
    <input type="submit" id="logout" value="Log Out">
</form>
