<html>
    <head>
        <title>PubAdvance</title>
        <meta charset="utf-8">
        <meta name="author" content="Samantha Ostrowski">
        <meta name="description" content="A Sinatra/Ruby MVC application that tracks publication advances.">
    </head>
    <body>
        <h1>PubAdvance Tracker</h1>
        <%= yield %>
        <footer>
            <p>Copyright 2021 Samantha Ostrowski</p>
        </footer>
    <body>
</html>