<html>
    <head>
        <title>PubAdvance</title>
        <meta charset="utf-8">
        <meta name="author" content="Samantha Ostrowski">
        <meta name="description" content="A Sinatra/Ruby MVC application that tracks publication advances.">
    </head>
    <body>
        <h1>PubAdvance Tracker</h1>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/books">Books</a></li>
            </ul>
        </div>
        <%= yield %>
        <footer>
            <p>Copyright 2021 Samantha Ostrowski</p>
        </footer>
    <body>
</html>