<h2 class="title">Log In</h2>
<hr class="login-hr">
<p class="subtitle">Please log in to view authors and books.</p>
<div class="box">
    <form action="/login" method="POST">
        <div class="field">
            <label for="username">Username (Email): </label>
            <input class="input" type="text" id="username" name="username">
        </div>
        <div class="field">
            <label for="password">Password: </label>
            <input class="input" type="text" id="password" name="password">
        </div>
        <button class="button">Submit</button>
    </form>
</div>