<h2>Sign Up</h2>
<% if @errors %>
    <p>Signup was unsuccessful. Please correct the following:<p>
    <ul>
    <% @errors.each do |error| %>
        <li><%= error.options[:message] %></li>
    <% end %>
    </ul>
<% end %>
<form action="/signup" method="POST">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <label for="username">Username (Email): </label>
    <input type="text" id="username" name="username">
    <label for="password">Password: </label>
    <input type="text" id="password" name="password">
    <input type="submit" id="submit" value="Submit">
</form>