<form action="/signup" method="POST">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <label for="username">Username (Email): </label>
    <input type="text" id="username" name="username">
    <label for="password">Password: </label>
    <input type="text" id="password" name="password">
    <input type="submit" id="submit" value="Submit">
</form>